<div class="row" style="margin-bottom: 3%;">
  <h1> Surgeon</h1>
  <h1 style="margin-left: 17%"> Doctor name</h1>
  <h1 style="margin-left: 5%"> Time slots</h1>
</div>

<div class="row">
  <div class="column">
    {% for d in doctor %}
    {% if d.department_id == 2 %}
    <div class="row">
      {% if d.photo %}
      <img src="{{ d.photo.url }}">
      {% endif %}
      <h3 id="{{ d.iin_number }}">{{ d.first_name }} {{ d.last_name }}</h3>


      <form action="/index">
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="10">10:00-11:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="11">11:00-12:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="12">12:00-13:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="13">13:00-14:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="14">14:00-15:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="15">15:00-16:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="16">16:00-17:00</button>
        <button class="btn btn-success btn-appointment" onclick="passvalues(this.id, '{{ d.iin_number }}');" id="17">17:00-18:00</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin-left: 8%;
  }

  button {
    width: 50;
    height: 50;
    border-radius: 5px;
    background-color: aquamarine;

  }

  h3 {
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    width: 400px;
    height: auto
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  button {
    width: 50;
    height: 50
  }
</style>



<script>
  // Get the elements with class="column"
  function passvalues(temp, t) {
    var firstname = document.getElementById(t).innerHTML;
    var bt = document.getElementById(temp).innerHTML;
    localStorage.setItem("dname", firstname);
    localStorage.setItem("iin", t)
    localStorage.setItem("dslot", bt);
    localStorage.setItem("se", "surgeon.html");
    return false;
  }
</script>